<div data-uri="{{ default _ref _self }}" class="footer" data-editable="settings">

  <ul class="footer-social" data-editable="footerLinks">
    {{> component-list footerLinks }}
  </ul>

  <div class="copyright">
    Built in {{ moment 'now' 'YYYY' }} with Clay
  </div>
</div>
