<div class="code-sample" data-uri="{{ default _ref self }}" >
    <div data-editable="code">
        {{#if html}}
        {{!-- code tag should be in the same line as pre tab, it will break the style if not --}}
        <pre class="language-{{language}}"><code class="language-{{language}}">{{{html}}}</code></pre>
        {{/if}}
    </div>
</div>
