<div class="code-sample" data-uri="{{ default _ref self }}" >
    <div data-editable="code">
        {{#if html}}
            <pre class="language-{{language}}">
                <code class="language-{{language}}">
                    {{{html}}}
                </code>
            </pre>
        {{/if}}
    </div>
</div>