{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "forOf": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandProperties": true,
      "objectLiteralShorthandMethods": true,
      "octalLiterals": true,
      "binaryLiterals": true,
      "templateStrings": true,
      "generators": true,
      "modules": false
    }
  },
  "plugins": ["html", "lodash"],
  "extends": ["plugin:lodash/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "mocha": true,
    "es6": true,
    "node": true
  },
  // add global vars for chai, etc
  "globals": {
    "expect": false,
    "chai": false,
    "sinon": false,
    "DS": false,
    "FB": false,
    "YT": false, // YouTube library
    "googletag": false // GPT
  },
  "rules": {
    // lodash plugin rules
    "lodash/prefer-lodash-method": 0,
    // lodash plugin rules that should probably be turned on but we have too many files that break them right now
    "lodash/prefer-includes": 0,
    "lodash/prefer-map": 0,
    "lodash/prefer-startswith": 0,
    "lodash/collection-method-value": 0,
    "lodash/collection-return": 0,
    "lodash/prop-shorthand": 0,
    "lodash/prefer-constant": 0,
    "lodash/prefer-lodash-typecheck": 0,
    "lodash/preferred-alias": 0,
    "lodash/consistent-compose": 0,
    "lodash/prefer-immutable-method": 0,
    "lodash/prefer-get": 0,
    "lodash/matches-prop-shorthand": 0,
    "lodash/prefer-invoke-map": 0,
    "lodash/prefer-noop": 0,
    "lodash/prefer-filter": 0,
    "lodash/prefer-is-nil": 0,
    "lodash/prefer-compact": 0,
    "lodash/path-style": 0,
    "lodash/identity-shorthand": 0,
    "lodash/import-scope": 0,
    "lodash/prefer-lodash-chain": 0,
    "lodash/chain-style": 0,
    "lodash/chaining": 0,
    // possible errors
    "no-extra-parens": 1,
    "valid-jsdoc": [1, {
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    // best practices
    "complexity": 0, // Reconsider this in the future
    "default-case": 2,
    "guard-for-in": 2,
    "no-alert": 1,
    "no-floating-decimal": 1,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-void": 2,
    "quote-props": [2, "as-needed"],
    "vars-on-top": 2,
    "wrap-iife": 2,
    // strict mode
    "strict": [2, "global"],
    // variables
    "no-unused-vars": 2,
    "no-undef": 2,
    // node.js
    "handle-callback-err": [2, "^.*(e|E)rr"],
    "no-mixed-requires": 0,
    "no-new-require": 2,
    "no-path-concat": 2,
    // stylistic issues
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-style": [2, "last"],
    "comma-dangle": [2, "never"],
    "eol-last": [2, "always"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "max-nested-callbacks": [2, 5],
    "newline-after-var": [2, "always"],
    "no-nested-ternary": 2,
    "no-spaced-func": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "one-var": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "keyword-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-infix-ops": [1, {"int32Hint": false}],
    "spaced-comment": [2, "always"],
    // es6
    "generator-star-spacing": [2, "before"],
    // legacy jshint rules
    "max-depth": [2, 4],
    "max-params": [2, 4]
  }
}
