$black: #000;
$accent-color: #0c71fa;
$fallback-stack: Georgia, serif;
$headline-stack: 'GroteskNarrow', $fallback-stack;
$grotesk-stack: Grotesk, $fallback-stack;
$sans-serif-stack: Helvetica, Arial, sans-serif;
$body-stack: Georgia, serif;

.article {
  counter-reset: annotated;
  margin: 20px 0 0;

  .article-header {
    margin: 0 0 20px;

    .bylines a.article-author:active,
    .bylines a.article-author:hover,
    .bylines a.article-author:focus {
      box-shadow: 0 1px 0 $accent-color;
    }

    .article-timestamp {
      color: #808080;
      font: 10px/1 $grotesk-stack;
      text-transform: uppercase;
    }

    .headline-primary {
      font: 600 46px/44px $headline-stack;
      margin: 0 0 8px;
      position: relative;
    }

    .headline-primary:last-child {
      margin: 0;
    }

    .bylines {
      color: #808080;
      letter-spacing: 1px;
    }

    .bylines a {
      color: #808080;
      text-decoration: none;
    }
  }

  .lede-wrapper {
    background: #EBEBEB;
  }

  .lede-image-wrapper {
    margin-bottom: 20px
  }

  .lede-image-wrapper {
    img {
      display: block;
      width: 100%;
      margin-bottom: 7px;
    }

    .lede-image-data {
      background: #EBEBEB;
      position: relative;
    }
  }

  .attribution {
    font: bold 13px/16px $body-stack;

    a {
      box-shadow: 0 1px 0;
      color: inherit;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: #ec2c00;
    }
  }

  .primary-area {
    position: relative;
  }

  .primary-area:before {
    background: #EBEBEB;
    content: '';
    height: 100%;
    left: -20px;
    position: absolute;
    top: 0;
    width: 20px;
  }

  .counts {
    background: #f4f4f4;
    clear: both;
    font: 400 14px/16px $sans-serif-stack;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%;

    .initializing {
      color: #999;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 767.9px) {
  .article {
    .lede-image-wrapper {
      margin: 0 0 24px;
    }
  }
}

@media screen and (min-width: 1180px) {
  .article {
    margin: 0;

    .lede-wrapper {
      align-items: stretch;
      display: flex;
      justify-content: space-between;
      margin: 0 0 26px;
    }

    .article-header {
      border-bottom: 1px solid $black;
      margin: 0 0 20px -100px;
      width: 1100px;
    }

    .article-header .article-timestamp {
      font: 12px / 1.2 $grotesk-stack;
      letter-spacing: 2.56px;
    }

    .article-header .primary-area {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;
    }

    .article-header .headline-primary {
      font: 500 85px/86px $headline-stack;
      letter-spacing: 0;
    }

    .article-header .bylines .primary-bylines {
      font: 600 17px / 20px $headline-stack;
      letter-spacing: .57px
    }

    .article-content {
      margin: 0 auto;
    }

    .article-header.inset:not(.has-secondary-zone) .primary-area,
    .article-header.inline:not(.has-secondary-zone) .primary-area {
      max-width: calc(100% - 200px);
    }

    .article-header.inset.has-secondary-zone .primary-area,
    .article-header.inline.has-secondary-zone .primary-area {
      max-width: 720px;
    }

    /*inset lede styles*/
    .lede-image-wrapper.inset {
      float: left;
      margin: 0 40px 12px -100px;
      width: 330px;
    }

    /*inline lede styles*/
    .lede-image-wrapper.inline.square,
    .lede-image-wrapper.inline.horizontal {
      margin: 0 0 34px -100px;
      width: 700px;
    }

    .lede-image-wrapper.inline.vertical {
      margin: 0 0 34px;
      width: 600px;
    }
  }

  .kiln-edit-mode .article {
    .article-header {
      margin: 0;
    }

    .body {
      margin: 40px 0 0 100px;
    }
  }
}

.article .attribution {
  width: 600px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}
.This-is-an-example-o .text-style-1 {
  color: #767676;
}
