.container-two-column {
  @media screen and (min-width: 767.9px) {
    &-wrapper {
      display: flex;
      margin: 0 auto;
      max-width: 1024px;
      justify-content: space-between;


      & > * {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
      }

      /* Left side config */
      .container-two-column-left_left {flex-basis: 60%; }
      .container-two-column-left_right { flex-basis: 30%; }

      /* Right side config */
      .container-two-column-right_left {flex-basis: 30%; }
      .container-two-column-right_right {flex-basis: 60%; }
    }
  }
}
