.footer {
  .logo-wrapper {
    margin: 0 auto 15px auto;
    width: 112px;
  }

  .follow-icons {
    margin: 0 0 7px;
    text-align: center;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    font: bold 14px / 39px GroteskNarrow, sans-serif;
    justify-content: center;
    letter-spacing: 4px;
    text-transform: uppercase;

    a {
      margin: 0 14px;
      text-decoration: none;
    }

    a:visited {
      color: black;
    }
  }

  .copyright {
    font: 500 9px / 25px Grotesk, sans-serif;
    letter-spacing: 3px;
    margin: 0 0 21px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1180px) {
  .footer {
    .logo-wrapper {
      margin: 0 auto 22px auto;
    }

    .follow-icons {
      margin: 0 0 40px;
    }

    .links {
      font: 19px GroteskNarrow, sans-serif;
    }
  }
}