.footer {
  margin: 20px;
  text-align: center;

  .links {
    display: inline;
    width: 33px;
    height: 14px;
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .link-item {
    display: inline;
    margin: 6px 13px;
    text-transform: uppercase
  }

   a {
    color: #000;
    text-decoration: none;
  }

  & .logo svg {
    height: 74px;
    width: 340px;
  }
}
