@import '_default/common/_vars.css';

$fallback-stack: Helvetica, serif;
$footer-text-stack: 'Helvetica', $fallback-stack;

.footer {
  margin: 20px;
  text-align: center;

  .links {
    display: inline;
    font: 12px $footer-text-stack;
    letter-spacing: 2px;
  }

  .link-item {
    display: inline;
    margin: 6px 13px;
    text-transform: uppercase
  }

   a {
    color: $black;
    text-decoration: none;
  }

  & .footer-logo svg {
    height: 74px;
    width: 340px;
  }

  .links-wrapper {
    margin: 20px
  }

  .social-media-btn:hover svg circle {
    fill: $hover-green;
  }

  .social-media-btn {
    margin: 10px
  }

  .footer-settings-wrapper {
    margin: 10px 0;
  }

  .social-media-circle {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 39px;
    padding: 0;
    width: 39px;
  }
}
