@import '_default/common/_vars.css';

header.header {
  margin: 0 auto;
  max-width: 100%;

  .header-inner {
    text-align: center;
  }

  .header__logo-link:focus {
    outline: none;
  }

  @media screen and (min-width: $lg) {
    margin: 27px auto 20px;
    max-width: $wrapperMaxWidth;
  }
}


.header__tagline {
  font-family: $sans-serif-stack;
  margin: 15px 0;
}

.header__logo-link,
.header__title-logo{
  display: inline-block;
  svg, .header__logo {
    max-width: 100%;
    width: max-content;
  }
}

.header__social-icons {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    height: auto;
    width: 26px;
  }
  .share-link {
    margin-right: 20px;
    position: relative;
    span:last-child {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  .share-link:last-child {
    margin-right: 0;
  }

  .share-link:focus {
    outline: none;
  }
}
