$black: #000;
$helvetica-stack: Helvetica, sans-serif;

.subheader {
  color: $black;
  font: bold 22px $helvetica-stack;
  margin: 0 0 1em;
}

.ui-radio-group.is-vertical .ui-radio-group__radios{
  flex-direction: row !important;
}
