$black: #000;
$helvetica-stack: Helvetica, sans-serif;

.subheader {
  color: $black;
  font: bold 22px $helvetica-stack;
  margin: 0 0 1em;
}

.ui-radio-group.is-vertical .ui-radio-group__radios {
  flex-direction: row !important;
}

.small {
  font-size: 22px;
  line-height: 1.09;
}

.medium {
  font-size: 28px;
  line-height: 1.09;
}

.large {
  font-size: 38px;
  line-height: 1.05;
}

.subheader:hover {
  opacity: 1;
  & > .link {
    opacity: 1;
  }
}

.link {
  padding-left: 4px;
  transition: opacity 150ms ease;
  opacity: 0;
  -moz-transition: opacity 150ms ease;
  -webkit-transition: opacity 150ms ease;
}
